.container {
    width: 60%;
    margin: auto;
}

header {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: #eee;

}

main {
    font-family: 'Roboto Mono', monospace;
}

nav {
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: #eee;

}

ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-evenly;

}

li a {
    list-style: none;
    text-decoration: none;
    background-color: #eeeeee;
    color: #2f444f;
    height: 3rem;
    display: block;


}

.home {
    background-color: #eee;
}

h2 {

}

article {
    display: flex;
}

.products {
    display: flex;

}

h3 {

}

h4 {

}
