.container {
    margin: auto;
    width: 100%;
    background-color: #eeeeee;
}
body{
    background-color: snow;
}
.logo{
    background-color: #eeeeee;
}
header {
    padding: 1rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: #eee;
    width: 100%;
    justify-content: space-evenly;

}
h1{
    justify-content: center;
}

main {
    font-family: 'Roboto Mono', monospace;
}

nav {
    justify-content: center;
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: #eee;
    width: 60%;
    float: left;

}

ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-evenly;
    background-color: #eeeeee;

}

li a {
    list-style: none;
    text-decoration: none;
    background-color: #eeeeee;
    color: #2f444f;
    display: block;
    text-align: center;
    line-height: 3rem;


}
li a:hover{
    background-color: #2f444f;
    color: #eeeeee;

}

.home {
    background-color: snow;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    display: flex;
    justify-content: center;
}

article {
    display: flex;
}

.products {
    display: flex;

}

h3 {

}

h4 {

}
