.container {
    width: 60%;
    margin: auto;
}

header {
    display: flex;
    list-style: none;
    text-decoration: none;

}

nav {
    list-style: none;
    text-decoration: none;

}

ul {
    list-style: none;
    text-decoration: none;

}

ul a {
    list-style: none;
    text-decoration: none;

}

.home {

}

h2 {

}

article {
    display: flex;
}

.products {
    display: flex;

}

h3 {

}

h4 {

}
